[submodule "Part 1/foundry/lib/forge-std"]
	path = Part 1/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Part 1/foundryCourse/lib/forge-std"]
	path = Part 1/foundryCourse/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
