[submodule "Part 1/foundry/lib/forge-std"]
	path = Part 1/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Part 1/foundryCourse/lib/forge-std"]
	path = Part 1/foundryCourse/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Part2/foundry-fund-me/lib/forge-std"]
	path = Part2/foundry-fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Part2/foundry-fund-me/lib/chainlink-brownie-contracts"]
	path = Part2/foundry-fund-me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
